html {
	background: url(FrenchPlate2.jpg) center;
	background-repeat: repeat-y;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header, body, div, nav, footer {
	background-color: #FAEBD7;
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	text-align: block;
	font-family: Century, Times, Garamond; 
	padding: 6px;}

a:link {color: blue}
a:visited {color: purple}
a:hover {color: red}

header, nav, footer {
	text-align: center;
}

#header {
	text-align: center;
	padding-bottom: 10px;
}

#email, #twitter {
	font-family: Century, Times, Garamond; 
	text-align: left; 
	padding-top: 2px; 
	padding-bottom: 2px;
}

footer {
	clear: both;
	padding-top: 10px}

h1 {
	font-family: Century, Times, Garamond;
	text-align: left;
	padding-top: 10px;
}
h2 {
	font-family: Century, Times, Garamond; 
	text-align: left;
	}

#main {
	text-align: center;
	float: center;
}

body {
	font-family: "Times New Roman", "Georgia", Arial, sans-serif, cursive;
	width: 68%;
	margin: 50px auto;
	font-size: 1em;
	text-align: left;
}

img {
	width: 35%; 
	float: right; 
	margin: 5px;
}

#bio{width: 60%; float:left;}
#summary{width: auto;}
#CV {width: auto;}
#projects {width: auto;}

footer {
	padding-bottom: 10px;
}



table {
	width: 100%;
}

td [type="class"]{
	width: 30%;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
	text-align: left;
}
td [type="prof"]{
	width: 25%;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
	text-align: left;
}
td [type="date"]{
	width: 30%;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 5px;
	text-align: left;
}

#class {
	width: 39%;
}
#prof {
	width: 29%;
}
#date {
	width: 29%;
}